<section class="contact-us main__contact-us" id="contact-us">
  <div class="container">
    <div class="contact-us__content">
      <div class="contact-us__header">
        <h2 class="contact-us__title">
          <span>Contact</span> Us
        </h2>
        <button
          type="button"
          class="contact-us__button"
          (click)="toTop()"
        >
          Click to scroll to the top
        </button>
      </div>
      <form
        action="/"
        method="post"
        class="contact-us__form"
        [formGroup]="sendMessageForm"
        (ngSubmit)="onSubmit()"
      >
        <label for="full-name" class="contact-us__label">
          <h4
            class="contact-us__label-title"
            [class.color-red]="submitted && sendMessageForm.controls['fullName'].errors"
          >
            Full name
          </h4>
          <input
            type="text"
            name="full-name"
            id="full-name"
            class="contact-us__input"
            formControlName="fullName"
            [class.has-red-border]="submitted && sendMessageForm.controls['fullName'].errors"
          >
          <span
            class="contact-us__error-text"
            [class.is-visible]="submitted && sendMessageForm.controls['fullName'].errors"
          >
            Full Name is required
          </span>
        </label>
        <label for="company-name" class="contact-us__label">
          <h4 class="contact-us__label-title">
            Company Name
          </h4>
          <input
            type="text"
            name="company-name"
            id="company-name"
            class="contact-us__input"
            formControlName="companyName"
            [class.has-red-border]="submitted && sendMessageForm.controls['companyName'].errors"
          >
        </label>
        <label for="phone-number" class="contact-us__label">
          <h4
            class="contact-us__label-title contact-us__label-title--without-margin"
            [class.color-red]="submitted && sendMessageForm.controls['phoneNumber'].errors"

          >
            Phone number
          </h4>
          <input
            type="text"
            name="phone-number"
            id="phone-number"
            class="contact-us__input"
            formControlName="phoneNumber"
            [class.has-red-border]="submitted && sendMessageForm.controls['phoneNumber'].errors"
          >
          <span
            class="contact-us__error-text"
            [class.is-visible]="submitted && sendMessageForm.controls['phoneNumber'].errors"
          >
            Phone Number is invalid
          </span>
        </label>
        <label for="e-mail" class="contact-us__label">
          <h4
            class="contact-us__label-title contact-us__label-title--without-margin"
            [class.color-red]="submitted && sendMessageForm.controls['email'].errors"
          >
            E-mail
          </h4>
          <input
            type="email"
            name="e-mail"
            id="e-mail"
            class="contact-us__input"
            formControlName="email"
            [class.has-red-border]="submitted && sendMessageForm.controls['email'].errors"
          >
          <span
            class="contact-us__error-text"
            [class.is-visible]="submitted && sendMessageForm.controls['email'].errors"
          >
            Email is invalid
          </span>
        </label>
        <label for="write-us" class="contact-us__label">
          <h4
            class="contact-us__label-title"
            [class.color-red]="submitted && sendMessageForm.controls['textArea'].errors"
          >
            Write Us Messages
          </h4>
          <textarea
            name="write-us"
            id="write-us"
            class="contact-us__input contact-us__input--is-textarea"
            formControlName="textArea"

          ></textarea>
          <span
            class="contact-us__error-text"
            [class.is-visible]="submitted && sendMessageForm.controls['textArea'].errors"
          >
            The text field cannot be empty
          </span>
        </label>
        <button class="contact-us__form-button" type="submit">Send Message</button>
      </form>
    </div>
  </div>
</section>
