<section class="home-page app__home-page">
  <div class="container">
    <div class="home-page__content">
      <div class="home-page__text-block">
        <h1 class="home-page__title">Never Caught<br> Off-Guard Again</h1>
        <p class="home-page__text">
          We are specialist in protecting your assets and reputation to make sure you operate risk-free and focus on your core business.
        </p>
        <button class="home-page__button">Learn More</button>
        <a href="#contact-us" class="home-page__link">Scroll</a>
      </div>
      <div class="home-page__image-block">
        <img
        class="home-page__image"
        alt="Space helmet"
        src="../../assets/images/space-helmetf.png"
      >
      </div>
    </div>
  </div>
</section>
